@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(rgb(255, 0, 0) 16.6%, 
                              rgb(255, 140, 0) 16.6%, rgb(255, 140, 0) 33.2%, 
                              rgb(255, 215, 0) 33.2%, rgb(255, 215, 0) 49.8%, 
                              rgb(2, 152, 2) 49.8%, rgb(2, 152, 2) 66.4%, 
                              rgb(0, 0, 225) 66.4%, rgb(0, 0, 225) 83%, 
                              rgb(131, 45, 173) 83%, rgb(131, 45, 173) 100%);
}

.footer {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: rgb(131, 45, 173);
  color: rgb(255, 255, 255);
  bottom: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  border-top: 5px solid white;
}

.scroll-to h1 {
  height: 6rem;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 600;
}

section {
  height: 50rem;
  width: 97%;
  border: 5px solid white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 45%;
  justify-items: center;
  padding: 0 125px 25px 125px;
  border-bottom: 5px solid white;
}

.bi {
  margin: 5px;
  padding: 0 15px;
}

.bi:hover {
  cursor: pointer;
  border-left: 5px solid white;
}

.about-me {
  font-size: 1.6rem;
  width: 60%;
}

.about-me p {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.profile-image{
  width: 225px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  margin: 15px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  width: 90%;
}

.portfolio-card {
  background-color: rgb(255, 215, 0);
  height: 300px;
  width: 95%;
  margin: 15px;
  font-size: 1.6rem;
}

.portfolio-card:hover {
  cursor: pointer;
  border-left: 6px solid white;
}

.portfolio-image {
  margin-top: 15px;
  height: 80%;
}

.buttons-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 600px;
}

.button {
  height: 5rem;
  width: 120px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  border-left: 5px solid white;
}

.home, .home h1 {
  background-color: rgb(255, 0, 0);
}

.home section {
  background-color: rgb(250, 122, 122);
}

.about, .about h1 {
  background-color: rgb(255, 140, 0);
}

.about section {
  background-color: rgb(251, 178, 88);
}

.portfolio, .portfolio h1 {
  background-color: rgb(255, 215, 0);
}

.portfolio section {
  background-color: rgb(250, 231, 123);
}

.blog, .blog h1 {
  background-color: rgb(2, 152, 2);
}

.blog section {
  background-color: rgb(118, 185, 118);
}

.contact, .contact h1 {
  background-color: rgb(0, 0, 225);
}

.contact section {
  background-color: rgb(108, 108, 252);
  margin-bottom: 5rem;
}